<div class="width-half">
  <label for="search">
    <em class='fa fa-search icon-pos color-purple'></em>
  </label>

  <!-- <form [formGroup]='stateForm' autocomplete="new-password" novalidate>
    <nova-search [items]="states" [options]="{ key:'value', display:'value' }" [skipAccents]="false"
      [showDropDown]="showDropDown" [elementId]="'nova-search-element'" [inputCss]="'custom-css-1 test1 test2 test3'"
      [optionCss]="'custom-css-2'" [disabled]="false" (onClearText)="onClearText()"
      [control]="stateForm.controls.search" (onItemSelected)="onItemSelected($event)">
    </nova-search>
  </form> -->
  <br />
  <br />
  <br />
  <h4>Skip accents : true </h4>
  <br />
  <nova-search [items]="states" [options]="{ key:'value', display:'value' }" [skipAccents]="true"
    [allowQuoteSearch]="true" [showDropDown]="showDropDown" [elementId]="'nova-search-element-2'"
    [inputCss]="'custom-css-1 test1 test2 test3'" [optionCss]="'custom-css-2'" [disabled]="false"
    (onClearText)="onClearText()" [control]="stateForm.controls.search" [skipCharactersCount]="1"
    (onItemSelected)="onItemSelected($event)">
  </nova-search>


  <button type="button" (click)="onClick()">focus</button>

</div>