<div class="width-half">
  <label for="search">
    <em class='fa fa-search icon-pos color-purple'></em>
  </label>

  <form [formGroup]='stateForm' autocomplete="new-password" novalidate>
    <nova-search [items]="states" [options]="{ key:'value', display:'value' }" [skipAccents]="false"
      [elementId]="'nova-search-element'" [inputCss]="'custom-css-1'" [optionCss]="'custom-css-2'" [disabled]="false"
      (onClearText)="onClearText()" [control]="stateForm.controls.search" (onItemSelected)="onItemSelected($event)">
    </nova-search>
  </form>

</div>